extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="img nosotros", class="img-fluid")
            .col-md-7
                h2= pagina
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur nesciunt vel deleniti quia adipisci voluptate corrupti, commodi sit architecto necessitatibus vitae, voluptatum quidem aliquam. Voluptatibus laboriosam distinctio debitis officia cupiditate. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic minima corporis libero autem optio consectetur deleniti, saepe, tempora ipsa natus, rerum explicabo at inventore necessitatibus consequuntur aspernatur fugit illo similique!

                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam accusantium fugit debitis tenetur aut quas eligendi omnis maiores, fuga perferendis accusamus dignissimos, sapiente at, illo provident quidem tempore dolores cumque?
                
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque consequatur amet quod atque sequi magni sunt minus possimus dolores illo eius, temporibus aut quo! Nam ab sint possimus officia molestiae.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h3.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea optio molestias provident rem nesciunt impedit reprehenderit qui natus fugiat n.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h3.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea optio molestias provident rem nesciunt impedit reprehenderit qui natus fugiat n.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h3.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea optio molestias provident rem nesciunt impedit reprehenderit qui natus fugiat n.